#page-auth {

    .aside {
        background: #FF8300;
        color: white;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .main-logo{
        max-width: 320px;
        margin: 50px;
    }

    .table {
        borderRadius: 20;
        overflowX: auto;
        textAlign: left;
    }

    .input {
        color: grey;

    }

    .main-content{

    }


}
