#page-main{
    display: flex;
    align-items: stretch;
    height: 100vh;


    .home-window{
        //padding-left: 500px;
        padding: 32px;

        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: rgb(190, 190, 190);

        margin-bottom: 10px;

    }

  
    .navbar{
        background-color: rgba(245, 241, 241, 0.979);
        justify-content: start;
        align-items: center;
    
        float: left;
        
        /* flex com a sidebar */

    
        .menu-bars {
            margin-left: 2rem;
            font-size:2rem;
            background: none;
            
            color: grey;
        }
        
        .nav-menu {
            background-color:white;
            
            width: 10px;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: fixed;
            top: 0;
            left: -100%;
            transition: 850ms;

            padding: 10px;
    
        }
    
        .nav-menu.open {
            left: 0;
            width: 20vh;
            transition: 500ms;
        }
    
        .nav-logo{
            align-self: center;
            display: flex;
            justify-content: start;
            padding-left: 40px;
    
            img{
                max-width: 80px;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    
        .nav-text{
            justify-content: start;
            display: flex;
            align-items: center;
            height: 50px;
    
            padding-left: 20px;
            border-radius: 20px;
            margin-bottom: 10px;
    
            list-style: none;
    
    
            a {
                text-decoration: none;
                font-size: 20px;
                color: #ADA7A7;
    
                padding: 8px 0 8px 16px;
    
                width: 95%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 16px;
                border-radius:4px;
    
                
                transition: color 0.2s;
    
                &:hover{
                    color: rgb(90, 90, 90);
                } 
    
            }
            transition: background-color 0.2s;
    
            &:hover{
                background-color: #ff8400;
            } 
                   
            p{
                margin-left: 10px;
            }
        }
    
        .nav-menu-itens {
            width: 100%;
    
        }
    }
}